# Ignore object and output files
bt-scanner/bin/*
bt-scanner/obj/*
bt-scanner/src

bt-adapter/bin/*
bt-adapter/obj/*
bt-adapter/src

bt-utils/bin/*
bt-utils/obj/*
bt-utils/src

.idea/*
CMakeLists.txt
cmake-build-debug/*