# Ignore object and output files
bt-scanner/bin/*
bt-scanner/obj/*
bt-scanner/src

bt-adapter/bin/*
bt-adapter/obj/*
bt-adapter/src

bt-agent/bin/*
bt-agent/obj/*
bt-agent/src

bt-utils/bin/*
bt-utils/obj/*
bt-utils/src

dirtytooth/bin/*
dirtytooth/obj/*
dirtytooth/src

bt-mitm/parser/shared
bt-mitm/parser/lib
bt-mitm/a.out

.idea/*
CMakeLists.txt
cmake-build-debug/*